<% provide(:title,"Base de Datos Cargada") %>
<div class="alert alert-success" role="alert">
	<h1>
		La Base de Datos ha sido cargada desde la API http://uc-courses.lopezjuri.com/api/v1/ correctamente.
	</h1>
</div>
